{{/**
    title : banner
    layout :
      - business
  **/}}
<div class="bg-aa-gray-700 bg-no-repeat bg-cover bg-center" style="background-image: url(https://r2.facwa.kr/resize/R2-Scanned000016.jpg);">
    <div class="py-36">
      <div class="text-center">
        <h2 class="text-4xl text-white mb-8 leading-none">냉전아시아 영상아카이브</h2>
        <h2 class="text-4xl text-white mb-8 leading-none">Film Archives for Cold War in Asia</h2>
        <p class="lg:text-lg text-base text-white mb-8">
          <span>2022년 아카이브는 아래와 같은 아이템 및 연관 콘텐츠를 제공하고 있습니다. <br>2022년까지 냉전평화연구센터가 수집한 한국전쟁 / DMZ&판문점 관련된 영상 아이템을 중심으로 오픈합니다.<br>
          <div class="flex justify-center">
            <a href="/about" target="_blank">
              <button class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded-full text-lg">소개보기</button>
            </a>
          </div>
        </p>
      </div>
    </div>
  </div>