<footer class="text-gray-100 bg-gray-900 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img class="w-full" src="{{ .Site.Params.footerLogo | absURL }}">
      <span class="ml-3 text-xl text-gray-100">{{ .Site.Title }}</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4">© {{ .Site.Params.license.year_of_creation }} {{ .Site.Params.license.title_of_work }} —
      <a href="{{ .Site.Params.lisense.link_to_creator_profile }}" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@{{ .Site.Params.license.creator_of_work }}</a>
    </p>
  </div>
</footer>