<header class="text-gray-900">
  <div class="container mx-auto flex flex-wrap px-5 py-4 flex-col md:flex-row items-center"
    x-data="{atElement: 'introduce'}"
      @scroll.window="atElement = document.querySelector('#more').getBoundingClientRect().top <= 0 ? 'more' : (document.querySelector('#news').getBoundingClientRect().top <= 0 ? 'news': (document.querySelector('#review').getBoundingClientRect().top <= 0 ? 'review' : 'introduce'))"
  >
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      {{ if .Site.Params.logo }}
        <img class="max-w-xs" src="{{ .Site.Params.logo | absURL }}">
      {{ else }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">{{ .Site.Title }}</span>
      {{ end }}
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-md lg:text-lg justify-center">
      {{ range site.Menus.main }}
        <a :class="{ 'bg-gray-900' : atElement==='#{{ .Identifier }}' }" class="mr-7 hover:border-b-2 hover:border-blue-500 hover:text-blue-500 " href="#{{ .Identifier }}">{{ .Name }}</a>
      {{ end }}
    </nav>
    <ul class="mt-4 sm:mt-1">
      {{ range site.Menus.button }}
      <li class="inline-block">
        <a class="block px-6 py-2 bg-white border-blue-600 dark:bg-black dark:border-blue-500 border box-border rounded-full text-md lg:text-lg text-blue-600 dark:text-blue-500 strong" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
</header>